<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Write notes for your leads</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Lead Note</a>
</div>