{{#each errors}}
{{! Loop over error array}}
<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
    <h3>Lead Note</h3>
    <form action="/notes/" method="POST">
        <div class="formgroup">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <div class="formgroup">
            <label for="notes">Note</label>
            <textarea type="text" class="form-control" name="notes" required></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>